---
layout: archive
title: "The Jacob Cycle"
permalink: /jacob-cycle/
author_profile: false
sidebar:
  nav: jacob-cycle
---

These blog posts were adapted from my notes for a class on the Jacob Cycle. The Jacob Cycle is a 
series of stories recorded in Genesis 25-36 that revolve around the life of Jacob, the son of Isaac
and Rebekah, and the grandson of Abraham and Sarah. I believe it's a fascinating and important part
of the Bible that has much to teach us about God, ourselves, and the world.

{% include base_path %}

{% for post in site.jacob_cycle %}
  {% include archive-single.html %}
{% endfor %}