---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$link-color: #EF9A9A;
$primary-color: #B71C1C;
$background-color: #212121;
$max-width: 1760px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

blockquote {
    color: #c9c9c9;
    font-style: normal;
}